DemonBuddy.exe
/TrinityRoutine/TrinityRoutine/bin
/TrinityRoutine/TrinityRoutine/obj
/Sources/bin
/Sources/obj
*.suo
/Sources/ItemRules/rules/custom/*
/Sources/*.txt
/Sources/log/*
/Sources/Logs/*
/Sources/*.log
Sources/ItemRules/Log/*
Deploy.cmd
GilesBlankCombatRoutine/TrinityCombatRoutine/bin
GilesBlankCombatRoutine/TrinityCombatRoutine/obj
*.bak
*.orig
Latest-GilesTrinity.zip
*.csproj.user
pub.bat
Trinity/bin
Trinity/obj
