DemonBuddy.exe
/TrinityRoutine/TrinityRoutine/bin
/TrinityRoutine/TrinityRoutine/obj
Trinity/bin
Trinity/obj
*.suo
Trinity/ItemRules/rules/custom/*
Trinity/*.txt
Trinity/log/*
Trinity/Logs/*
Trinity/*.log
Sources/ItemRules/Log/*
Deploy.cmd
*.bak
*.orig
*.csproj.user
pub.bat
Trinity/bin
Trinity/obj
