DemonBuddy.exe

/Sources/bin

/Sources/obj

*.suo

*.suo

/Sources/*.txt

/Sources/log/

/Sources/log/*

/Sources/*.log

Sources/ItemRules/Log/*

Deploy.cmd

GilesBlankCombatRoutine/TrinityCombatRoutine/bin
GilesBlankCombatRoutine/TrinityCombatRoutine/obj

*.bak
*.orig
Latest-GilesTrinity.zip
Sources/GilesTrinity.csproj.user
